<header id="site-header" class="site-header" role="banner">
	<div class="bg-color second-bg" style="display: none"></div>
	
	<nav id="second-menu" class="nav-client" role="navigation" style="overflow: visible">
		<a href="#" class="close no-border">close <span>×</span></a>

		<div class="second-container second-container-client">
			<div class="logo-box">
				<div class="site-logo site-logo-client">
					<a href="/">
						<img class="nav-client-img" src="/client/assets/images/logo.png" alt="Logo" />
					</a>
				</div>
			</div>
			<!-- .logo-box -->

			<form method="get" class="searchform">
			<div class="form-group row active search">
					<div class="input-group">
						<input type="text" class="form-control" name="q" placeholder="Tìm kiếm bác sĩ..."
						style="
								width: 50%;
								border: 1px solid rgb(217, 217, 217);
								border-radius: 6px;
								padding: 16px 16px 20px 48px;
								margin: 0;
								font-weight: 400;
								font-variant: none;
							">
						<div class="input-group-append">
							<button type="submit" class="btn btn-dark waves-effect waves-light" 
							style="
								border-radius: 6px;
								">Tìm kiếm</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<ul id="menu-mainmenu" class="menu">
			<li class="current-menu-item parent" onclick="openNewWindow()">
				<a href="#">
					Chuyên khoa
					<span>Tìm bác sĩ theo chuyên khoa</span>
				</a>
			</li>
			
			<li>
				<a href="/doctors">
					Bác sĩ
					<span>Tìm bác sĩ giỏi</span>
				</a>
			</li>
		</ul>
</header>