<header id="site-header" class="site-header" role="banner">
	<div class="bg-color second-bg" style="display: none"></div>
	
	<nav id="second-menu" class="nav-client" role="navigation" style="overflow: visible">
		<a href="#" class="close no-border">close <span>×</span></a>

		<div class="second-container second-container-client">
			<div class="logo-box">
				<div class="site-logo site-logo-client">
					<a href="/">
						<img class="nav-client-img" src="/client/assets/images/logo.png" alt="Logo" />
					</a>
				</div>
			</div>
			<!-- .logo-box -->

			<form method="get" action="/doctors" class="searchform">
			<div class="form-group row active search">
					<div class="input-group">
						<input type="text" class="form-control" name="q" placeholder="Tìm kiếm bác sĩ..."
						style="
								width: 50%;
								border: 1px solid rgb(217, 217, 217);
								border-radius: 6px;
								padding: 16px 16px 20px 48px;
								margin: 0;
								font-weight: 400;
								font-variant: none;
							">
						<div class="input-group-append">
							<button type="submit" class="btn btn-dark waves-effect waves-light" 
							style="
								border-radius: 6px;
								">Tìm kiếm</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<ul id="menu-mainmenu" class="menu">
			<li class="current-menu-item parent" onclick="openNewWindow()">
				<div class="btn-group my-2">
					<button type="button" class="btn btn-secondary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"
					style="
						font-weight: 400;
						font-variant: none;
						color: black;
						"
					>
						<strong>
							Chọn chuyên khoa
						</strong>
					</button>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
						<a href="/doctors?page=1" class="dropdown-item">Tất cả</a>
						<% if (typeof specialities !== 'undefined') { %>
							<% specialities.forEach(function(speciality) { %>
								<a href="/doctors?page=1&speciality_id=<%= speciality.id %>" class="dropdown-item"><%= speciality.name %></a>
							<% }) %>
						<% } %>
					</div>
				</div>
			</li>
			
			<li>
				<a href="/doctors">
					Bác sĩ
					<span>Tìm bác sĩ giỏi</span>
				</a>
			</li>
			
			<li>
				<a href="/free-doctors">
					Khung giờ rảnh
					<span>Tìm bác sĩ rảnh</span>
				</a>
			</li>
		</ul>
</header>