<div class="row">
	<div class="col-12">
		<div class="card-box">
			<h1>Thêm người dùng</h1>
			<div class="row">
				<div class="col-12">
					<form
						id="add-user-form"
						class="form-horizontal"
						action="/admin/users/create"
						method="POST"
						enctype="multipart/form-data"
					>
						<div class="form-group left-side">
							<div class="form-group row col-12">
								<div class="col-xl-6 col-md-12">
									<label for="name">Họ tên:</label>
									<span class="error" id="name-error"></span>
									<div class="input-box">
										<span class="before-input">
											<i class="fas fa-user"></i>
										</span>
										<input
											type="text"
											class="col-sm-12 input-info"
											id="name"
											name="name"
											placeholder="Họ và tên"
										/>
									</div>
									
								</div>
								<div class="col-xl-6 col-md-12">
									<label for="gender">Giới tính:</label>
									<span class="error" id="gender-error"></span>
									<br />
									<div class="radioBox">
										<input
											type="radio"
											class="col-sm-12"
											id="male"
											name="gender"
											value="male"
										/>
									<label class="radioText" for="male">Nam</label>
									</div>
									<div class="radioBox">
										<input
											type="radio"
											class="col-sm-12"
											id="female"
											name="gender"
											value="female"
										/>
									<label class="radioText" for="female">Nữ</label>
									</div>
								</div>
							</div>
							<div class="form-group row col-12">
								<div class="col-xl-6 col-md-12">
									<label for="phone">Số điện thoại:</label>
									<span class="error" id="phone-error"></span>
									<div class="input-box">
										<span class="before-input">
											<i class="fas fa-phone"></i>
										</span>
										<input
											type="number"
											class="col-sm-12 input-info"
											id="phone"
											name="phone_number"
											placeholder="Số điện thoại"
										/>
									</div>
								</div>
								<div class="col-xl-6 col-md-12">
									<label for="email">Email:</label>
									<span class="error" id="email-error"></span>
									<div class="input-box">
										<span class="before-input">
											<i class="fas fa-envelope"></i>
										</span>
										<input
											type="text"
											class="col-sm-12 input-info"
											id="email"
											name="email"
											placeholder="email@gmail.com"
										/>
									</div>
									
								</div>
								
							</div>
	
							<div class="form-group row col-12">
								<div class="col-xl-6 col-md-12">
									<label for="birthday">Ngày sinh:</label>
									<span class="error" id="birthday-error"></span>
									<div class="input-box">
										<span class="before-input">
											<i class="fas fa-calendar"></i>
										</span>
										<input type="date" class="col-sm-12 input-info" id="birthday" name="birthday" />
									</div>
									
								</div>
								<div class="col-xl-6 col-md-12">
									<label for="role">Vai trò:</label>
									<span class="error" id="role-error"></span>
									<div class="input-box">
										<span class="before-input">
											<i class="fas fa-user-tag"></i>
										</span>
										<select class="col-sm-12 input-info" id="role" name="role">
											<option value="">-- Chọn Vai trò --</option>
											<option value="1">Quản trị viên</option>
											<option value="2">Y tá</option>
											<option value="3">Bác sĩ</option>
										</select>
									</div>
									
								</div>
							</div>
	
							<div id="additional-fields"  style="display: none">
								<div class="form-group row col-12">
									<div class="col-xl-4 col-md-6 col-sm-12">
										<label for="speciality"
											>Chuyên khoa:</label
										>
										<span
											class="error"
											id="speciality-error"
										></span>
										<div class="input-box">
											<span class="before-input">
												<i class="fas fa-folder-plus"></i>
											</span>
											<select
												class="col-sm-12 input-info"
												name="speciality"
												id="speciality"
											>
												<option value="">
													-- Chọn chuyên khoa --
												</option>
												<% if (specialities.length != 0) { %> <%
												specialities.forEach((speciality) => {
												%>
												<option value="<%= speciality.id %>">
													<%= speciality.name %>
												</option>
												<% }) %> <% } %>
											</select>
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-12">
										<label for="rank">Chức danh:</label>
										<span class="error" id="rank-error"></span>
										<div class="input-box">
											<span class="before-input">
												<i class="fas fa-network-wired"></i>
											</span>
											<select name="rank" class="col-sm-12 input-info" id="rank">
												<option value="">
													-- Chọn chức danh --
												</option>
												<option value="1">PGS-TS</option>
												<option value="2">Tiến sĩ</option>
												<option value="3">Bác sĩ CKII</option>
												<option value="4">Bác sĩ CKI</option>
											</select>
										</div>
									</div>
									<div class="col-xl-4 col-sm-12">
										<label for="price">Giá khám:</label>
										<span class="error" id="price-error"></span>
										<div class="input-box">
											<span class="before-input">
												<i class="fas fa-money-bill-wave"></i>
											</span>
											<input
												type="number"
												class="col-sm-12 input-info"
												id="price"
												name="price"
												placeholder="Giá khám"
											/>
											<p class="after-input">đ</p>
										</div>

									</div>
								</div>
								<div class="form-group row col-12">
									<div class="col-12">
										<label for="description">Mô tả:</label>
										<span
											class="error"
											id="description-error"
										></span>
										<div class="input-box">
											<span class="before-input">
												<i class="fas fa-info-circle"></i>
											</span>
											<textarea
												name="description"
												class="col-sm-12 input-info"
												id="description"
												rows="4"
												style="width: 100%"
												placeholder="Mô tả"
											></textarea>
										</div>
									</div>
								</div>
							</div>
	
							<div
								class="form-group row"
								style="
									display: flex;
									justify-content: center;
									align-items: center;
								"
							>
								<button type="reset" class="btn btn-danger">Reset</button>
								<button type="submit" class="btn btn-success">Tạo người dùng</button>
							</div>
						</div>
						

						<div class="form-group right-side">
							<div class="col-12 img-form">
								<label for="avatar"><i class="fas fa-camera"></i> Ảnh:</label>
								<br/>
								<label for="fileInput" class="btn btn-sm btn-secondary">
									Chọn ảnh
								</label>
								<input
									type="file"
									name="avatar"
									id="fileInput"
									onchange="previewImage(event)"
									accept="image/jpg, image/jpeg, image/png"
									style="margin-top:10px; max-width:95%; display:none;"
								/>
								<label for="fileInput">
									<img
										id="preview"
										src="/admin/assets/images/anonymous-pic.jpg"
										alt="Image Preview"
										style="margin-top:10px; max-width:100%;"
										class="col-12"
									/>
								</label>
								<br/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
<style>
	.card-box{
		width:80vw;
		height: 80vh;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		top: 5px;
		overflow:auto;
	}

	#add-user-form {
		background: #fff;
		margin: 0 auto;
		position: relative;
		box-shadow: 2px 5px 20px
		rgba(119, 119, 119, .5);
	}
	.form-group{
		display:inline-block;
	}
	h1 {
		font-family: "Montserrat", sans-serif;
		margin-top: 40px;
		margin-bottom: 35px;
		text-align: left;
	}

	.right-side{
		float: right;
		position: absolute;
		width: 20%;
		height: 100%;
		background: #71b6f9;
		box-shadow: 3px 3px 10px
		rgb(119, 119, 119, .5);
		border-left: 1px solid #ccc;
		padding-top: 35px;
	}

	.left-side{
		width: 78%;
		margin-left: 2%;
		margin-top: 15px;
		padding-top: 5px;
	}


	label {
		display: inline-block;
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 1em;
		margin-left: 2px;
	}

	.input-box {
		position: relative;
	}

	.before-input{
		max-width: fit-content;
		position: absolute;
		z-index: 1;
		font-size: 1.1em;
		left: 7px;
		top:50%;
		transform: translateY(-70%);
		
	}

	.after-input{
		max-width: fit-content;
		position: absolute;
		z-index: 1;
		font-size: 1.1em;
		right: 7px;
		top:50%;
		transform: translateY(-70%);
		
	}

	.col-sm-12.input-info {
		padding: 7px 20px 7px 34px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 10px;
	}

	.col-sm-12.input-info:focus {
		outline:none;
		border: 2px solid #71b6f9 !important;
		border-radius: 5px !important;
		box-shadow: 0 0 5px #71b6f9 !important;
	}

	select {
		padding: 9px 0;
	}

	input[type='radio'] {
		width: 20px;
		height: 20px;
		margin-right: 5px;
		position: relative;
		left: 1em;
		bottom: -5px;
	}

	.radioText {
		margin-left: 24px;
		font-weight: normal;
		font-size: 16px;
	}

	.radioBox{
		width: 110px;
		display: inline-block;
		margin-right: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
	}

	span.error {
		color: red;
		display: inline-block;
		font-size: 12px;
	}

	button[type='submit'],
	button[type='reset'] {
		text-transform: uppercase;
		padding: 7px 15px;
		margin-left: 10px;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0px 2px 4px 0px
		rgb(0,0,0,.2);
		margin-top: 15px;
	}

	#additional-fields {
		margin-top: 30px;
	}
</style>

<%- contentFor('js') %>
<script>
	const form = document.getElementById('add-user-form');
	const name = document.getElementById('name');
	const gender = document.getElementsByName('gender');
	const birthday = document.getElementById('birthday');
	const phone = document.getElementById('phone');
	const email = document.getElementById('email');
	const role = document.getElementById('role');
	const status = document.getElementsByName('status');

	const roleSelect = document.getElementById('role');
	const additionalFields = document.getElementById('additional-fields');

	function previewImage(event) {
		const preview = document.getElementById('preview');
		preview.style.display = 'block';
		preview.src = URL.createObjectURL(event.target.files[0]);
	}

	document.getElementById('role').addEventListener('change', function () {
		if (this.value === '3') {
			additionalFields.style.display = 'block';
			additionalFields.style.borderTop = '1px solid #ccc';
			additionalFields.style.paddingTop = '20px';
		} else {
			additionalFields.style.display = 'none';
			additionalFields.style.borderTop = 'none';
			additionalFields.style.paddingTop = '0';
		}
	});

	form.addEventListener('submit', e => {
		e.preventDefault();

		let valid = true;

		if (name.value === '') {
			valid = false;
			document.getElementById('name-error').innerHTML =
				'Vui lòng nhập tên người dùng';
		} else {
			document.getElementById('name-error').innerHTML = '';
		}

		let selectedGender = '';
		for (let i = 0; i < gender.length; i++) {
			if (gender[i].checked) {
				selectedGender = gender[i].value;
			}
		}
		if (selectedGender === '') {
			valid = false;
			document.getElementById('gender-error').innerHTML =
				'Vui lòng chọn giới tính';
		} else {
			document.getElementById('gender-error').innerHTML = '';
		}

		if (birthday.value === '') {
			valid = false;
			document.getElementById('birthday-error').innerHTML =
				'Vui lòng nhập ngày sinh';
		} else {
			document.getElementById('birthday-error').innerHTML = '';
		}

		if (phone.value === '' || phone.value.length < 10) {
			valid = false;
			document.getElementById('phone-error').innerHTML =
				'Số điện thoại không hợp lệ';
		} else {
			document.getElementById('phone-error').innerHTML = '';
		}

		if (email.value === '') {
			valid = false;
			document.getElementById('email-error').innerHTML =
				'Vui lòng nhập email';
		} else if (!email.value.match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
			valid = false;
			document.getElementById('email-error').innerHTML =
				'Email không hợp lệ';
		} else {
			document.getElementById('email-error').innerHTML = '';
		}

		if (role.value === '') {
			valid = false;
			document.getElementById('role-error').innerHTML =
				'Vui lòng chọn vai trò';
		} else {
			document.getElementById('role-error').innerHTML = '';
		}

		if (role.value === '3') {
			if (document.getElementById('speciality').value === '') {
				valid = false;
				document.getElementById('speciality-error').innerHTML =
					'Vui lòng chọn chuyên khoa';
			} else {
				document.getElementById('speciality-error').innerHTML = '';
			}

			if (document.getElementById('rank').value === '') {
				valid = false;
				document.getElementById('rank-error').innerHTML =
					'Vui lòng chọn chức danh';
			} else {
				document.getElementById('rank-error').innerHTML = '';
			}

			if (document.getElementById('price').value === '') {
				valid = false;
				document.getElementById('price-error').innerHTML =
					'Vui lòng nhập giá khám';
			} else {
				document.getElementById('price-error').innerHTML = '';
			}

			if (document.getElementById('description').value === '') {
				valid = false;
				document.getElementById('description-error').innerHTML =
					'Vui lòng nhập mô tả';
			} else {
				document.getElementById('description-error').innerHTML = '';
			}
		}

		if (valid) {
			form.submit();
		}
	});
	form.addEventListener('reset', e => {
		e.preventDefault;
		document
			.querySelectorAll('.error')
			.forEach(item => (item.innerHTML = ''));
	});
</script>
