<div class="booking-page">
    <div class="booking-page-heading">
        <div class="heading-wrapper">
            <div class="heading-intro">
                <div class="heading-intro-img-wrapper">
                    <a href="">
                        <img class="heading-intro-img" src="/client/assets/images/155419nguyen-thi-kim-loan.jpg"  alt="">
                    </a>
                </div>

                <div class="heading-intro-describe">
                    <h1>	
                        ĐẶT LỊCH KHÁM
                    </h1>
                    <h2>
                        <a href=""> Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan </a>
                    </h2>

                    <div class="heading-intro-time">
                        07:30 - 08:00 - Thứ 6 - 17/03/2023
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="booking-page-content">
        <div class="booking-page-wrapper">
            <form action="" id="booking-form">
                <div class="booking-price-list">
                    <div class="booking-page-price">
                        <span>Giá khám<span>
                        <div>150.000 đ</div>
                    </div>
                </div>
                Họ và tên (<span style="color: red">*</span>)
                <div class="input-describe">
                    Hãy ghi rõ Họ Và Tên, viết hoa những chữ cái đầu tiên, ví dụ: Trần Văn Phú
                </div>
                <div class="input-group">
                    <div class="input-wrapper">
                        <span class="dauvao-bt bt-g bt-g-nguoi"></span>
                        <input class="input-line" id="name" name="name" onblur="normalizeName()" value="" dl-luu="name" type="text" placeholder="Nhập họ và tên" autocomplete="name">
                    </div>
                    <div class="dauvao-thongbao"></div>
                </div>

                Ngày sinh (<span style="color: red">*</span>)
                <div class="input-group">
                    <div class="input-wrapper">
                        <span class="dauvao-bt bt-g bt-g-nguoi"></span>
                        <input  id="name" name="name" onblur="normalizeName()" value="" dl-luu="name" type="date" placeholder="Nhập ngày sinh" autocomplete="name">
                    </div>
                    <div class="dauvao-thongbao"></div>
                </div>

                Giới tính (<span style="color: red">*</span>)
                <div class="input-group display_flex">
                    <label>
                        <input class="" type="radio" name="book_for" value="0" dl-luu="book_for" dl-name="datcho" dl-value="minh">
                        Nam
                    </label>

                    <label>
                        <input class="" type="radio" name="book_for" value="1" dl-luu="book_for" dl-name="datcho" dl-value="nguoi">
                        Nữ
                    </label>
                </div>

                Số điện thoại (<span style="color: red">*</span>)
                <div class="input-group">
                    <div class="input-wrapper">
                        <span class="dauvao-bt bt-g bt-g-nguoi"></span>
                        <input class="input-line" id="name" name="name" onblur="normalizeName()" value="" dl-luu="name" type="text" placeholder="Nhập số điện thoại liên hệ" autocomplete="name">
                    </div>
                    <div class="dauvao-thongbao"></div>
                </div>

                Email (<span style="color: red">*</span>)
                <div class="input-group">
                    <div class="input-wrapper">
                        <span class="dauvao-bt bt-g bt-g-nguoi"></span>
                        <input class="input-line" id="name" name="name" onblur="normalizeName()" value="" dl-luu="name" type="text" placeholder="Nhập địa chỉ email" autocomplete="name">
                    </div>
                    <div class="dauvao-thongbao"></div>
                </div>
                Lý do khám (<span style="color: red">*</span>)
                <div class="input-group">
                    <div class="input-wrapper">
                        <span class="dauvao-bt bt-g bt-g-cong-tron"></span>
                        <textarea name="" class="dauvao-nhap text-area-reason" placeholder="Lý do khám"></textarea>
                    </div>
                    <div class="dauvao-thongbao">
                    </div>
                </div>

                <div class="input-ground">
                    <div class="input-wrapper">
                        <p class="input-payingMethod">Hình thức thanh toán</p>

                        <div class="input-payingMedthod-choice">
                            <input class="dauvao-nhap" type="radio" name="pay_type" value="1" checked="checked">
                            <label for="">
                                Thanh toán sau tại cơ sở y tế
                            </label>
                        </div>
                    </div>
                </div>
               
                <div class="booking-paying-note">
                    <p>
                        <b>LƯU Ý</b>
                    </p>
                    <p>
                        Thông tin anh/chị cung cấp sẽ được sử dụng làm hồ sơ khám bệnh, khi điền thông tin anh/chị vui lòng:
                    </p>
                    <ul>
                        <li>
                            Ghi rõ họ và tên, viết hoa những chữ cái đầu tiên, ví dụ: <b>Trần Văn Phú </b>
                        </li>
                        <li>Điền đầy đủ, đúng và vui lòng kiểm tra lại thông tin trước khi ấn "Xác nhận"</li>
                    </ul>
                </div>

                <div class="input-group">
                    <button class="submit-btn">Xác nhận đặt khám</button>
                </div>    


            </form>
        </div>
    </div>
</div>

<%- contentFor('css') %>
<%- include('style') %>

<%- contentFor('js') %>
<script>
    const choose = (event) => {
        const priceDivs = document.querySelectorAll('.booking-page-price');
        const priceDiv = event.target.closest('.booking-page-price');
        if (priceDiv) {
            const radioBtn = priceDiv.querySelector('input[name="price"]');
            if (radioBtn) {
            radioBtn.checked = true;
            }
            priceDivs.forEach((div) => {
            if (div === priceDiv) {
                div.classList.add('choose');
            } else {
                div.classList.remove('choose');
            }
            });
        }
    };
</script>

