<div class="cancel-appointment">
  <div style="margin-bottom: 40px;"></div>
  <div class="content-up">
    <img src="/client/assets/images/female-dotor-cancel.jpeg" alt="">
  </div>

  <div class="content-down">
    <h1 style="color: #4695f3">Hủy lịch khám thành công!</h1>
    
    <br>

    <p>Bạn có thể tiếp tục đặt lịch ở bên dưới</p>    
  
    <a href="/" class="appoinment-status-btn">
      <button class="bg-red color-red">
        <b style="color: white;">Quay về trang chủ</b>
      </button>
    </a>
  </div>
</div>

<%- include('style') %>
