<div class="confirm-appointment">
    <div style="margin-bottom: 40px;">

    </div>

    <div class="content-up">
      <img src="/client/assets/images/female-doctor-check.jpg" alt="">
    </div>

    <div class="content-down">
      <h1 style="color: #4695f3">Xác nhận đặt lịch thành công!</h1>
      
      <br>

      <p>Cảm ơn bạn đã sử dụng dịch vụ của phòng khám QTN</p>    
    
      <a href="/" class="appoinment-status-btn">
        <button class="bg-green color-green">
          <b style="color: white;">Quay về trang chủ</b>
        </button>
      </a>
    </div>
</div>

<%- include('style') %>
