<div class="doctor-list-specialty">
  <div
    style="
      background-image: url('/client/assets/images/120331-co-xuong-khop.jpg');
    "
    class="specialty-img"
  >
    <div class="specialty-heading">
      <div class="wrapper">
        <div class="specialty-title">
          <h1 style="margin-bottom: 0">Cơ Xương Khớp</h1>
        </div>

        <div class="specialty-expand expand-hide">
          <div class="speacialty-des expand-content">
            <h2 style="text-align: justify; line-height: 1; font-size: 14px">
              <b style="color: inherit; font-family: inherit; font-size: 14px"
                >Bác sĩ Cơ Xương Khớp giỏi</b
              ><br />
            </h2>
            <p
              style="text-align: justify; line-height: 1.2; margin: 5px 0 5px 0"
            >
              <span style="font-size: 14px"
                >Danh sách các bác sĩ uy tín đầu ngành Cơ Xương Khớp tại Việt
                Nam:</span
              >
            </p>
            <ul>
              <li style="text-align: justify; line-height: 1.2">
                <span style="font-size: 14px"
                  >Các chuyên gia có quá trình đào tạo bài bản, nhiều kinh
                  nghiệm</span
                >
              </li>
              <li style="text-align: justify; line-height: 1.2">
                <span style="font-size: 14px"
                  >Các giáo sư, phó giáo sư đang trực tiếp nghiên cứu và giảng
                  dạy tại Đại học Y khoa Hà Nội</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Các bác sĩ đã, đang công tác tại các bệnh viện hàng đầu Khoa
                  Cơ Xương Khớp - Bệnh viện Bạch Mai, Bệnh viện Hữu nghị Việt
                  Đức,Bệnh Viện E.</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Là thành viên hoặc lãnh đạo các tổ chức chuyên môn như: Hiệp
                  hội Cơ Xương Khớp, Hội Thấp khớp học,...</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Được nhà nước công nhận các danh hiệu Thầy thuốc Nhân dân,
                  Thầy thuốc Ưu tú, Bác sĩ Cao cấp,...</span
                >
              </li>
            </ul>
            <h2 style="text-align: justify">
              <span style="font-size: 14px"><b>Bệnh Cơ Xương Khớp</b></span>
            </h2>
            <ul>
              <li style="text-align: justify">Gout</li>
              <li style="text-align: justify">
                Thoái hóa khớp: khớp gối, cột sống thắt lưng, cột sống cổ
              </li>
              <li style="text-align: justify">
                Viêm khớp dạng thấp, Viêm đa khớp, Viêm gân
              </li>
              <li style="text-align: justify">
                Tràn dịch khớp gối, Tràn dịch khớp háng, Tràn dịch khớp khủy,
                Tràn dịch khớp vai
              </li>
              <li style="text-align: justify">Loãng xương, đau nhức xương</li>
              <li style="text-align: justify">Viêm xương, gai xương</li>
              <li style="text-align: justify">
                Viêm cơ, Teo cơ, chứng đau mỏi cơ
              </li>
              <li style="text-align: justify">Yếu cơ, Loạn dưỡng cơ</li>
              <li style="text-align: justify">
                Các chấn thương về cơ, xương, khớp<br />
              </li>
              <li style="text-align: justify">...</li>
            </ul>
          </div>
          <a href="" class="expand-btn-hide" onclick="handleExpandHide(Event)"
            >Ẩn bớt</a
          >
          <a href="" class="expand-btn-expand" onclick="handleExpand(Event)"
            >Đọc thêm</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="list-doctor">
        <div
          class="a-doctor"
          data-name="Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan"
          data-d`ichvu="Khám"
        >
          <div class="a-doctor-infor">
            <div class="a-doctor-img">
              <a href="/doctor-profile/bac-si-chuyen-khoa-ii-nguyen-thi-kim-loan">
                <img
                  data-src=""
                  src="/client/assets/images/155419nguyen-thi-kim-loan.jpg"
                  class="luoi"
                  width="80"
                  height="80"
                  alt="Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan"
                />

                <div>Xem thêm</div>
              </a>
            </div>

            <div class="a-doctor-describe">
              <h2 class="a-doctor-name">
                <a href="/doctor-profile/bac-si-chuyen-khoa-ii-nguyen-thi-kim-loan">Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan</a>
              </h2>

              <p class="a-doctor-summari">
                Nguyên Trưởng khoa Cơ xương khớp, Bệnh viện E Hà Nội<br />
                Được phong tặng Danh hiệu Thầy thuốc Ưu tú <br />
                Bác sĩ khám cho người bệnh từ 16 tuổi trở lên
              </p>

              <div class="a-doctor-location">
                <!-- <span class="bt-g bt-g-diadiem glyphicon glyphicon-map-marker"></span>  -->
                <img src="/client/assets/images/location.png" alt="" />
                Đà Nẵng
              </div>
            </div>
          </div>

          <div class="a-doctor-shedule">
            <p class="a-doctor-select-time">
              <select>
                <option value=".lich-c217-d9">Thứ 3 - 4/4</option>
                <option value=".lich-c217-d11">Thứ 5 - 6/4</option>
                <option value=".lich-c217-d13">Thứ 7 - 8/4</option>
              </select>
            </p>

            <div
              data-thu=""
              data-chonngay=".lich-c217-d9"
              class="a-doctor-day display-block mot-bs-thu3 lich-c217-d9 lich-c217-d9-p44 hien"
            >
              <h3 class="a-doctor-shedule-title">
                <img src="/client/assets/images/svg/schedule-icon.svg" alt="" />
                Lịch Khám
              </h3>

              <div class="today-shedule">
                <div class="a-doctor-avaiable-shedule">
                  <a
                    href="/booking"
                    data-id="10308954"
                    data-partner="49"
                    data-wday="9"
                    data-name="08:00 - 08:30"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >08:00 - 08:30
                  </a>

                  <a
                    href="/booking"
                    data-id="10308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="08:30 - 09:00"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >08:30 - 09:00
                  </a>

                  <a
                    href="/booking"
                    data-id="20308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="09:00 - 09:30"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >09:00 - 09:30
                  </a>

                  <a
                    href="/booking"
                    data-id="30308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="09:30 - 10:00"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >09:30 - 10:00
                  </a>

                  <a
                    href="/booking"
                    data-id="40308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="10:00 - 10:30"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >10:00 - 10:30
                  </a>

                  <a
                    href="/booking"
                    data-id="50308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="10:30 - 11:00"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >10:30 - 11:00
                  </a>

                  <a
                    href=/booking                    data-id="60308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="11:00 - 11:30"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >11:00 - 11:30
                  </a>

                  <a
                    href="/booking"
                    data-id="10271279"
                    data-partner="49"
                    data-wday="9"
                    data-name="Đăng ký khám (Chiều)"
                    rel="nofollow"
                    class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1"
                    >Đăng ký khám (Chiều)
                  </a>
                </div>

                <div class="a-doctor-shedule-guide" data-name="">
                  Chọn
                  <!-- <span
                                        class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up">
                                        </span>  -->
                  <img src="/client/assets/images/svg/choose-icon.svg" alt="" />
                  và đặt (Phí đặt lịch 0<sup>đ</sup>)
                </div>
              </div>

              <div class="schedule-infor">
                <div class="schedule-location">
                  <h3>Địa chỉ Khám</h3>
                  <div class="schedule-clinic-name">Phòng khám y tế QTN</div>
                  <div class="schedule-clinic-address">
                    123 Nguyễn Lương Bằng, Hòa Khánh, Đà Nẵng
                  </div>
                </div>
                <div class="schedule-price" data-bs="217" data-nk="44">
                  <h3>Giá Khám:</h3>
                  <span class="schedule-price-inshort">
                    150.000<sup>đ</sup>.</span
                  >

                  <a
                    class="schedule-price-table-show-btn"
                    href="#giakham"
                    onclick="handleShowPriceTable(Event)"
                    >Xem chi tiết
                  </a>

                  <div>
                    <div
                      class="schedule-price-table schedule-price-table-margin"
                    >
                      <table>
                        <thead>
                          <tr class="lichkham-gia-ghichu"></tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>
                              Giá khám <br />
                              <small
                                >Chưa bao gồm chi phí chụp chiếu, xét
                                nghiệm</small
                              >
                            </td>
                            <td class="schedule-price-fee">
                              150.000<sup>đ</sup>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="lichkham-gia-ghichu">
                            <td colspan="2">
                              Bệnh viện có thanh toán bằng hình thức tiền mặt và
                              quẹt thẻ
                            </td>
                          </tr>
                        </tfoot>
                      </table>

                      <h3>Giá dịch vụ liên quan:</h3>

                      <table>
                        <tbody>
                          <tr>
                            <td>
                              Tổng phân tích tế bào máu ngoại vi
                              <br />
                              <small
                                >Bằng máy đếm tổng trở [18TS- bằng máy đếm tự
                                động]</small
                              >
                            </td>
                            <td class="schedule-price-fee">
                              156.000<sup>đ</sup>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Siêu âm khớp
                              <br />
                              <small>Tùy thuộc vào 1 khớp hay 2 khớp</small>
                            </td>
                            <td class="schedule-price-fee">
                              264.000<sup>đ</sup> - 528.000<sup>đ</sup>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a
                      class="schedule-price-table-hide-btn"
                      href="#"
                      onclick="handleHidePriceTable(Event)"
                      >Ẩn bảng giá</a
                    >
                  </div>
                </div>

                <!-- <div class="schedule-insur" data-bs="217" data-nk="44">
                                    <h3>Loại bảo hiểm áp dụng.</h3> <a class="lichkham-baohiem-hien" href="#baohiem">Xem chi tiết</a>
                                    <div>
                                        <div class=""></div><a class=""
                                            href="#anbaohiem">Thu gọn</a>
                                        <div class="lichkham-modal"></div>
                                        <div class="lichkham-modal-nen"></div>
                                    </div>
                                </div> -->
              </div>

              <div class="xeplai"></div>
            </div>

            <!-- <div data-thu="11" data-chonngay=".lich-c217-d11" class="mot-bs-ngay mot-bs-thu5 lich-c217-d11 lich-c217-d11-p44">
                            <h3 class="mot-bacsi-dichvu mot-bacsi-dichvu-1"><i
                                    class="icon-dichvu bt-g bt-g-lich glyphicon glyphicon-calendar"></i> Lịch Khám</h3>
                            <div class="lich-kham-hom-nay">
                                <div class="mot-bs-co-lichkham"><a href="https://bookingcare.vn/dat-lich-kham/10271233?t=11&amp;ck=1"
                                        data-id="10271233" data-partner="49" data-wday="11" data-name="08:00 - 08:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">08:00 - 08:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/20271233?t=11&amp;ck=1" data-id="20271233"
                                        data-partner="49" data-wday="11" data-name="08:30 - 09:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">08:30 - 09:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/30271233?t=11&amp;ck=1" data-id="30271233"
                                        data-partner="49" data-wday="11" data-name="09:00 - 09:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">09:00 - 09:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/40271233?t=11&amp;ck=1" data-id="40271233"
                                        data-partner="49" data-wday="11" data-name="09:30 - 10:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">09:30 - 10:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/50271233?t=11&amp;ck=1" data-id="50271233"
                                        data-partner="49" data-wday="11" data-name="10:00 - 10:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">10:00 - 10:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/60271233?t=11&amp;ck=1" data-id="60271233"
                                        data-partner="49" data-wday="11" data-name="10:30 - 11:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">10:30 - 11:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/70271233?t=11&amp;ck=1" data-id="70271233"
                                        data-partner="49" data-wday="11" data-name="11:00 - 11:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">11:00 - 11:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/10271285?t=11&amp;ck=1" data-id="10271285"
                                        data-partner="49" data-wday="11" data-name="13:30 - 14:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">13:30 - 14:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/10271286?t=11&amp;ck=1" data-id="10271286"
                                        data-partner="49" data-wday="11" data-name="14:00 - 14:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">14:00 - 14:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/20271286?t=11&amp;ck=1" data-id="20271286"
                                        data-partner="49" data-wday="11" data-name="14:30 - 15:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">14:30 - 15:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/30271286?t=11&amp;ck=1" data-id="30271286"
                                        data-partner="49" data-wday="11" data-name="15:00 - 15:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">15:00 - 15:30</a></div>
                                <div class="mot-bs-lichkham-huongdan" data-name="">Chọn <span
                                        class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up"></span> và đặt (Phí đặt lịch
                                    0<sup>đ</sup>)</div>
                            </div>
                            <div class="lichkham-thongtin">
                                <div class="lichkham-diadiem">
                                    <h3>Địa chỉ Khám</h3>
                                    <div class="lichkham-ten">Hệ thống Y tế Thu Cúc cơ sở Thụy Khuê</div>
                                    <div class="lichkham-diachi">286 Thụy Khuê, quận Tây Hồ, Hà Nội</div>
                                </div>
                                <div class="lichkham-giakham" data-bs="217" data-nk="44">
                                    <h3>Giá Khám: </h3> <span class="lichkham-giakham-tomtat">150.000<sup>đ</sup></span>. <a
                                        class="lichkham-banggia-hien" href="#giakham">Xem chi tiết</a>
                                    <div>
                                        <div class="lichkham-banggia-bang lichkham-bang"></div><a class="lichkham-banggia-an"
                                            href="#angiakham">Ẩn bảng giá</a>
                                    </div>
                                </div>
                                <div class="lichkham-baohiem" data-bs="217" data-nk="44">
                                    <h3>Loại bảo hiểm áp dụng.</h3> <a class="lichkham-baohiem-hien" href="#baohiem">Xem chi tiết</a>
                                    <div>
                                        <div class="lichkham-baohiem-bang lichkham-bang"></div><a class="lichkham-baohiem-an"
                                            href="#anbaohiem">Thu gọn</a>
                                        <div class="lichkham-modal"></div>
                                        <div class="lichkham-modal-nen"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="xeplai"></div>
                        </div>

                        <div data-thu="13" data-chonngay=".lich-c217-d13" class="mot-bs-ngay mot-bs-thu7 lich-c217-d13 lich-c217-d13-p44">
                            <h3 class="mot-bacsi-dichvu mot-bacsi-dichvu-1"><i
                                    class="icon-dichvu bt-g bt-g-lich glyphicon glyphicon-calendar"></i> Lịch Khám</h3>
                            <div class="lich-kham-hom-nay">
                                <div class="mot-bs-co-lichkham"><a href="https://bookingcare.vn/dat-lich-kham/10271205?t=13&amp;ck=1"
                                        data-id="10271205" data-partner="49" data-wday="13" data-name="Đăng ký khám (Sáng)" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">Đăng ký khám (Sáng)</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/10308975?t=13&amp;ck=1" data-id="10308975"
                                        data-partner="49" data-wday="13" data-name="08:00 - 08:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">08:00 - 08:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/10308976?t=13&amp;ck=1" data-id="10308976"
                                        data-partner="49" data-wday="13" data-name="08:30 - 09:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">08:30 - 09:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/20308976?t=13&amp;ck=1" data-id="20308976"
                                        data-partner="49" data-wday="13" data-name="09:00 - 09:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">09:00 - 09:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/30308976?t=13&amp;ck=1" data-id="30308976"
                                        data-partner="49" data-wday="13" data-name="09:30 - 10:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">09:30 - 10:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/40308976?t=13&amp;ck=1" data-id="40308976"
                                        data-partner="49" data-wday="13" data-name="10:00 - 10:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">10:00 - 10:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/50308976?t=13&amp;ck=1" data-id="50308976"
                                        data-partner="49" data-wday="13" data-name="10:30 - 11:00" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">10:30 - 11:00</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/60308976?t=13&amp;ck=1" data-id="60308976"
                                        data-partner="49" data-wday="13" data-name="11:00 - 11:30" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">11:00 - 11:30</a><a
                                        href="https://bookingcare.vn/dat-lich-kham/10271291?t=13&amp;ck=1" data-id="10271291"
                                        data-partner="49" data-wday="13" data-name="Đăng ký khám (Chiều)" rel="nofollow"
                                        class="a-doctor-clinic-hour a-doctor-clinic-hour-dichvu-1">Đăng ký khám (Chiều)</a></div>
                                <div class="mot-bs-lichkham-huongdan" data-name="">Chọn <span
                                        class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up"></span> và đặt (Phí đặt lịch
                                    0<sup>đ</sup>)</div>
                            </div>
                            <div class="lichkham-thongtin">
                                <div class="lichkham-diadiem">
                                    <h3>Địa chỉ Khám</h3>
                                    <div class="lichkham-ten">Hệ thống Y tế Thu Cúc cơ sở Thụy Khuê</div>
                                    <div class="lichkham-diachi">286 Thụy Khuê, quận Tây Hồ, Hà Nội</div>
                                </div>
                                <div class="lichkham-giakham" data-bs="217" data-nk="44">
                                    <h3>Giá Khám: </h3> <span class="lichkham-giakham-tomtat">150.000<sup>đ</sup></span>. <a
                                        class="lichkham-banggia-hien" href="#giakham">Xem chi tiết</a>
                                    <div>
                                        <div class="lichkham-banggia-bang lichkham-bang"></div><a class="lichkham-banggia-an"
                                            href="#angiakham">Ẩn bảng giá</a>
                                    </div>
                                </div>
                                <div class="lichkham-baohiem" data-bs="217" data-nk="44">
                                    <h3>Loại bảo hiểm áp dụng.</h3> <a class="lichkham-baohiem-hien" href="#baohiem">Xem chi tiết</a>
                                    <div>
                                        <div class="lichkham-baohiem-bang lichkham-bang"></div><a class="lichkham-baohiem-an"
                                            href="#anbaohiem">Thu gọn</a>
                                        <div class="lichkham-modal"></div>
                                        <div class="lichkham-modal-nen"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="xeplai"></div>
                        </div> -->
          </div>

          <div class="xeplai clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('script') %>
