<div class="doctor-list-specialty">
  <div
    style="
      background-image: url('/client/assets/images/120331-co-xuong-khop.jpg');
    "
    class="specialty-img"
  >
    <div class="specialty-heading">
      <div class="wrapper">
        <div class="specialty-title">
          <h1 style="margin-bottom: 0">Cơ Xương Khớp</h1>
        </div>

        <div class="specialty-expand expand-hide">
          <div class="speacialty-des expand-content">
            <h2 style="text-align: justify; line-height: 1; font-size: 14px">
              <b style="color: inherit; font-family: inherit; font-size: 14px"
                >Bác sĩ Cơ Xương Khớp giỏi</b
              ><br />
            </h2>
            <p
              style="text-align: justify; line-height: 1.2; margin: 5px 0 5px 0"
            >
              <span style="font-size: 14px"
                >Danh sách các bác sĩ uy tín đầu ngành Cơ Xương Khớp tại Việt
                Nam:</span
              >
            </p>
            <ul>
              <li style="text-align: justify; line-height: 1.2">
                <span style="font-size: 14px"
                  >Các chuyên gia có quá trình đào tạo bài bản, nhiều kinh
                  nghiệm</span
                >
              </li>
              <li style="text-align: justify; line-height: 1.2">
                <span style="font-size: 14px"
                  >Các giáo sư, phó giáo sư đang trực tiếp nghiên cứu và giảng
                  dạy tại Đại học Y khoa Hà Nội</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Các bác sĩ đã, đang công tác tại các bệnh viện hàng đầu Khoa
                  Cơ Xương Khớp - Bệnh viện Bạch Mai, Bệnh viện Hữu nghị Việt
                  Đức,Bệnh Viện E.</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Là thành viên hoặc lãnh đạo các tổ chức chuyên môn như: Hiệp
                  hội Cơ Xương Khớp, Hội Thấp khớp học,...</span
                >
              </li>
              <li style="text-align: justify">
                <span style="font-size: 14px"
                  >Được nhà nước công nhận các danh hiệu Thầy thuốc Nhân dân,
                  Thầy thuốc Ưu tú, Bác sĩ Cao cấp,...</span
                >
              </li>
            </ul>
            <h2 style="text-align: justify">
              <span style="font-size: 14px"><b>Bệnh Cơ Xương Khớp</b></span>
            </h2>
            <ul>
              <li style="text-align: justify">Gout</li>
              <li style="text-align: justify">
                Thoái hóa khớp: khớp gối, cột sống thắt lưng, cột sống cổ
              </li>
              <li style="text-align: justify">
                Viêm khớp dạng thấp, Viêm đa khớp, Viêm gân
              </li>
              <li style="text-align: justify">
                Tràn dịch khớp gối, Tràn dịch khớp háng, Tràn dịch khớp khủy,
                Tràn dịch khớp vai
              </li>
              <li style="text-align: justify">Loãng xương, đau nhức xương</li>
              <li style="text-align: justify">Viêm xương, gai xương</li>
              <li style="text-align: justify">
                Viêm cơ, Teo cơ, chứng đau mỏi cơ
              </li>
              <li style="text-align: justify">Yếu cơ, Loạn dưỡng cơ</li>
              <li style="text-align: justify">
                Các chấn thương về cơ, xương, khớp<br />
              </li>
              <li style="text-align: justify">...</li>
            </ul>
          </div>
          <a href="" class="expand-btn-hide" onclick="handleExpandHide(Event)"
            >Ẩn bớt</a
          >
          <a href="" class="expand-btn-expand" onclick="handleExpand(Event)"
            >Đọc thêm</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="list-doctor">
        <div
          class="a-doctor"
          data-name="Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan"
          data-d`ichvu="Khám"
        >
          <div class="a-doctor-infor">
            <div class="a-doctor-img">
              <a href="/doctor-profile">
                <img
                  data-src=""
                  src="/client/assets/images/155419nguyen-thi-kim-loan.jpg"
                  class="luoi"
                  width="80"
                  height="80"
                  alt="Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan"
                />

                <div>Xem thêm</div>
              </a>
            </div>

            <div class="a-doctor-describe">
              <h2 class="a-doctor-name">
                <a href="/doctor-profile/bac-si-chuyen-khoa-ii-nguyen-thi-kim-loan">Bác sĩ Chuyên khoa II Nguyễn Thị Kim Loan</a>
              </h2>

              <p class="a-doctor-summari">
                Nguyên Trưởng khoa Cơ xương khớp, Bệnh viện E Hà Nội<br />
                Được phong tặng Danh hiệu Thầy thuốc Ưu tú <br />
                Bác sĩ khám cho người bệnh từ 16 tuổi trở lên
              </p>

              <div class="a-doctor-location">
                <!-- <span class="bt-g bt-g-diadiem glyphicon glyphicon-map-marker"></span>  -->
                <img src="/client/assets/images/location.png" alt="" />
                Đà Nẵng
              </div>
            </div>
          </div>

          <div class="a-doctor-shedule">
            <p class="a-doctor-select-time">
              <select>
                <option value=".lich-c217-d9">Thứ 3 - 4/4</option>
                <option value=".lich-c217-d11">Thứ 5 - 6/4</option>
                <option value=".lich-c217-d13">Thứ 7 - 8/4</option>
              </select>
            </p>

            <div
              data-thu=""
              data-chonngay=".lich-c217-d9"
              class="a-doctor-day display-block mot-bs-thu3 lich-c217-d9 lich-c217-d9-p44 hien"
            >
              <h3 class="a-doctor-shedule-title">
                <img src="/client/assets/images/svg/schedule-icon.svg" alt="" />
                Lịch Khám
              </h3>

              <div class="today-shedule">
                <div class="a-doctor-avaiable-shedule">
                  <a
                    href="/booking"
                    data-id="10308954"
                    data-partner="49"
                    data-wday="9"
                    data-name="08:00 - 08:30"
                    rel="nofollow"
                    class="disabled-clinic-hour"
                    >08:00 - 08:30
                  </a>

                  <a
                    href="/booking"
                    data-id="10308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="08:30 - 09:00"
                    rel="nofollow"
                    class="available-clinic-hour"
                    >08:30 - 09:00
                  </a>

                  <a
                    href="/booking"
                    data-id="20308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="09:00 - 09:30"
                    rel="nofollow"
                    class="available-clinic-hour"
                    >09:00 - 09:30
                  </a>

                  <a
                    href="/booking"
                    data-id="30308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="09:30 - 10:00"
                    rel="nofollow"
                    class="available-clinic-hour"
                    >09:30 - 10:00
                  </a>

                  <a
                    href="/booking"
                    data-id="40308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="10:00 - 10:30"
                    rel="nofollow"
                    class="available-clinic-hour"
                    >10:00 - 10:30
                  </a>

                  <a
                    href="/booking"
                    data-id="50308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="10:30 - 11:00"
                    rel="nofollow"
                    class="available-clinic-hour"
                    >10:30 - 11:00
                  </a>

                  <a
                    href=/booking                    data-id="60308955"
                    data-partner="49"
                    data-wday="9"
                    data-name="11:00 - 11:30"
                    rel="nofollow"
                    class="available-clinic-hour"
                    >11:00 - 11:30
                  </a>
                </div>

                <div class="a-doctor-shedule-guide" data-name="">
                  Chọn 
                  <!-- <span
                                        class="bt-g bt-g-chitay-tren glyphicon glyphicon-hand-up">
                                        </span>  -->
                  <img src="/client/assets/images/svg/choose-icon.svg" alt="" />
                  khung giờ để đặt lịch (Phí đặt lịch 0<sup>đ</sup>)
                </div>
              </div>

              <div class="schedule-infor">
                <div class="schedule-price" data-bs="217" data-nk="44">
                  <h3>Giá Khám:</h3>
                  <span class="schedule-price-inshort">
                    150.000<sup>đ</sup></span
                  >
                </div>
              </div>
            </div>

          </div>

          <div class="xeplai clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('css') %> 
<%- include('style') %>

<%- contentFor('js') %>
<%- include('script') %>
