<link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>

<div class="banner-wrap">
	<div
		style="
			background-image: url('./client/assets/images/svg/banner-bg.svg');
		"
		class="banner-bg"
	>
		<div class="banner-intro-image-wrap">
			<div class="banner-bg__intro">
				<div class="banner-bg__descri">
					<h1 class="descri__title">
						Đặt lịch hẹn với bác sĩ dễ dàng
					</h1>
					<div class="descri__text">
						<p>
							Đơn giản hóa việc tìm kiếm bác sĩ và đặt lịch khám
						</p>
					</div>

					<div
						class="descri__btn-booking"
						onclick="openNewBookingPage()"
					>
						<!-- redirect to doctor list page -->
						<a href="/free-doctors">
							<button class="btn-booking btn">
								Đặt lịch ngay
							</button>
						</a>
					</div>
				</div>

				<div class="banner-bg-btn">
					<button></button>
				</div>
			</div>

			<div class="banner-bg-doctor-wrap">
				<img
					class="banner-bg-doctor-img"
					src="./client/assets/images/banner_doctor.png"
					alt="QTN clinic"
				/>
			</div>
		</div>
	</div>
</div>

<div class="content-segment-wrap">
	<div class="content-segment-margin">
		<div class="content-segment">

			<div class="content-segment-header">
				<h2 class="content-segment-title">Chuyên khoa phổ biến</h2>
			</div>

			<!-- <div class="content-segment-body">
				<button class="slick-prev"></button>

				<div class="slick-list">
					<div class="slick-track">
						<a href="" class="slick-side">
							<div class="rectangle-img img-size-16x9">
								<img
									src="./client/assets/images/chuyenkhoa-tam-ly.jpg"
									alt=""
								/>
							</div>
							<h3>Tư vấn, trị liệu Tâm lý từ xa</h3>
						</a>

						<a href="" class="slick-side">
							<div class="rectangle-img img-size-16x9">
								<img
									src="./client/assets/images/chuyenkhoa-tamthan.jpg"
									alt=""
								/>
							</div>
							<h3>Sức khỏe tâm thần từ xa</h3>
						</a>

						<a href="" class="slick-side">
							<div class="rectangle-img img-size-16x9">
								<img
									src="./client/assets/images/chuyenkhoa-dalieu.jpg"
									alt=""
								/>
							</div>
							<h3>Bác sĩ Da liễu từ xa</h3>
						</a>

						<a href="" class="slick-side">
							<div class="rectangle-img img-size-16x9">
								<img
									src="./client/assets/images/chuyenkhoa-xuongkhop.jpg"
									alt=""
								/>
							</div>
							<h3>Bác sĩ Cơ-Xương-Khớp từ xa</h3>
						</a>
					</div>
				</div>

				<button class="slick-next"></button>
			</div> -->

			<div class="specialtiy-slider">
				<div class="specialtiy-slide">
					<div class="specialtiy-image">
						<img
							src="./client/assets/images/chuyenkhoa-tam-ly.jpg"
							alt=""
						/>
					</div>
					<h3 class="specialtiy-slide-title">
						Cơ Xương Khớp
					</h3>
				</div>

				<div class="specialtiy-slide">
					<div class="specialtiy-image">
						<img
							src="./client/assets/images/chuyenkhoa-tam-ly.jpg"
							alt=""
						/>
					</div>
					<h3 class="specialtiy-slide-title">
						Cơ Xương Khớp
					</h3>
				</div>

				<div class="specialtiy-slide">
					<div class="specialtiy-image">
						<img
							src="./client/assets/images/chuyenkhoa-tam-ly.jpg"
							alt=""
						/>
					</div>
					<h3 class="specialtiy-slide-title">
						Cơ Xương Khớp
					</h3>
				</div>

				<div class="specialtiy-slide">
					<div class="specialtiy-image">
						<img
							src="./client/assets/images/chuyenkhoa-tam-ly.jpg"
							alt=""
						/>
					</div>
					<h3 class="specialtiy-slide-title">
						Cơ Xương Khớp
					</h3>
				</div>

				<div class="specialtiy-slide">
					<div class="specialtiy-image">
						<img
							src="./client/assets/images/chuyenkhoa-tam-ly.jpg"
							alt=""
						/>
					</div>
					<h3 class="specialtiy-slide-title">
						Cơ Xương Khớp
					</h3>
				</div>
			</div>

			<div class="content-segment-extend">
				<a class="content-segment-extend-btn" href="">Xem thêm</a>
			</div>
		</div>
	</div>

	
</div>



<div class="content-segment-wrap">
	<div class="content-segment-margin">
		<div class="content-segment">
			<div class="content-segment-header">
				<h2 class="content-segment-title">Bác sĩ nổi bật</h2>
			</div>
			
			<div class="outstanding-doctor-group-slider">
				<div class="outstanding-doctor-group-slide">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 1
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>

						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 2
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 3
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>

						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 4
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>

				<div class="outstanding-doctor-group-slide">
					<div class="row"> 
						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 5
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>

						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 6
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>
					</div> 

					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="outstanding-doctor-group-member">
								<div class="outstanding-doctor-intro">
									<h4 class="outstanding-doctor-title">	
											<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="outstanding-doctor-title" aria-label="">
												<span>
													Tiến sĩ, Bác sĩ
												</span>
												Lê Tấn Đạt 7
											</a>
									</h4>
									<div class="outstanding-doctor-description">
										<p>TS.BS Lê Tấn Đạt có 22 năm kinh nghiệm về hóa trị và sinh học phân tử ung bướu.
			
			BS Đạt nhận ...</p><p>
									</p></div>
									<div class="view-more">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="icon-plus" aria-label="">
											<p>Xem thêm &gt;&gt;</p>
											<span>Chi tiết</span>
										</a>    
									</div>
									
								</div>
								
								<div class="outstanding-doctor-image" style="background-color: white;">
										<a href="/danh-sach/bac-si/le-tan-dat-51206/ung-buou-xa-tri" class="doctor-image" aria-label="">
											
												<img data-src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png" class="doctor-image lazy" alt="" src="https://vinmec-prod.s3.amazonaws.com/images/17_06_2021_04_27_02_349920.png">
											
										</a>
								</div>
								
							</div>
						</div>

						
					</div> 
	
				</div>
			</div>

			<div class="content-segment-extend">
				<a class="content-segment-extend-btn" href="">Xem thêm</a>
			</div>
		</div>
	</div>
</div>

<%- include('script.ejs') %>

<%- contentFor('css') %>


<%- include('style.ejs') %>







