<header id="site-header" class="site-header" role="banner">
	<div class="bg-color second-bg" style="display: none"></div>
	
	<nav id="second-menu" class="nav-client" role="navigation" style="overflow: visible">
		<a href="#" class="close no-border">close <span>×</span></a>

		<div class="second-container second-container-client">
			<div class="logo-box">
				<div class="site-logo site-logo-client">
					<a href="#">
						<img class="nav-client-img" src="/client/assets/images/logo.png" alt="Logo" />
					</a>
				</div>
			</div>
			<!-- .logo-box -->

			<div class="active search">
				<form method="get" class="searchform">
					<div>
						<button
							type="submit"
							class="searchsubmit btn"
							value=""
						>
							<div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.97183 10.8732C3.97183 7.0617 7.0617 3.97183 10.8732 3.97183C14.6848 3.97183 17.7746 7.0617 17.7746 10.8732C17.7746 14.6848 14.6848 17.7746 10.8732 17.7746C7.0617 17.7746 3.97183 14.6848 3.97183 10.8732ZM10.8732 2C5.97268 2 2 5.97268 2 10.8732C2 15.7738 5.97268 19.7465 10.8732 19.7465C12.9683 19.7465 14.8938 19.0204 16.4118 17.8061L20.3169 21.7112C20.702 22.0963 21.3262 22.0963 21.7112 21.7112C22.0963 21.3262 22.0963 20.702 21.7112 20.3169L17.8061 16.4118C19.0204 14.8938 19.7465 12.9683 19.7465 10.8732C19.7465 5.97268 15.7738 2 10.8732 2Z" fill="#8C8C8C"></path></svg>
							</div>
					
						</button>

						<input
							type="text"
							value=""
							name="s"
							class="search-input-client"
							placeholder="Tìm kiếm với chuyên khoa"
							style="
							width: 100%;
							border: 1px solid rgb(217, 217, 217);
							border-radius: 6px;
							padding: 12px 16px 12px 48px;
							margin: 0;
							font-weight: 400;
							font-variant: none;
							"
						/>
						
					</div>
				</form>
			</div>
		</div>

		<ul id="menu-mainmenu" class="menu">
			<li class="current-menu-item parent" onclick="openNewWindow()">
				<a href="#">
					Chuyên khoa
					<span>Tìm bác sĩ theo chuyên khoa</span>
				</a>
			</li>
			
			<li>
				<a href="#">
					Bác sĩ
					<span>Tìm bác sĩ giỏi</span>
				</a>
			</li>
		</ul>

		<div class="new-window">
			<div class="new-window-zone">
				 <div class="new-window-header">
					<button class="return-arrow" onclick="closeNewWindow()">
						<img src="/client/assets/images/arrow-left.png" alt="">
					</button>
					<h5 class="new-window-title">Chuyên Khoa</h5>
					
					<div class="new-window-content">
						<div class="specialty-list-container">
							<ul class="specialty-list">
								<li>
									<a href="#">
										<img src="/client/assets/images/120331-co-xuong-khop.jpg"class="specialty-list-img" alt="">
										<h3>Cơ Xương Khớp</h3>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="/client/assets/images/121042-than-kinh.jpg"class="specialty-list-img" alt="">
										<h3>Thần Kinh</h3>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="/client/assets/images/120933-tieu-hoa.jpg"class="specialty-list-img" alt="">
										<h3>Tiêu Hóa</h3>
									</a>
								</li>

								
								
								<li>
									<a href="#">
										<img src="/client/assets/images/120741-tim-mach.jpg"class="specialty-list-img" alt="">
										<h3>Tim Mạch</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/client/assets/images/121146-tai-mui-hong.jpg"class="specialty-list-img" alt="">
										<h3>Tai Mũi Họng</h3>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/client/assets/images/121215-cot-song.jpg"class="specialty-list-img" alt="">
										<h3>Cột sống</h3>
									</a>
								</li>




								
							</ul>
						</div>
					</div>
				 </div>
			</div>
		</div>
		
		
		
		
		

</header>

<script>
	const openNewWindow = () => {
		const newWindow = document.querySelector('.new-window');
		newWindow.style.display = "block";
	};

	const closeNewWindow = () => {
		const newWindow = document.querySelector('.new-window');
		newWindow.style.display = "none";
	};
</script>


<!-- <ul class="sub-menu">
					<li>
						<a href="typography.html"
							><span>Typography and Basic Styles</span></a
						>
					</li>
					<li>
						<a href="tables-styles.html"
							><span>Tables Styles</span></a
						>
					</li>
					<li>
						<a href="forms-styles.html"
							><span>Forms Styles</span></a
						>
					</li>
					<li>
						<a href="buttons-styles.html"
							><span>Buttons Styles</span></a
						>
					</li>
					<li>
						<a href="togglable-tabs.html"
							><span>Togglable tabs</span></a
						>
					</li>
					<li>
						<a href="tooltips.html"><span>Tooltips</span></a>
					</li>
					<li>
						<a href="accordions-designs.html"
							><span>Accordions Designs</span></a
						>
					</li>
				</ul> -->